* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

@font-face {
  font-family: Coolvetica;
  src: url(../assets/coolvetica\ rg.otf);
}

body {
  background-color: white;
}

.blackFont {
  color: black;
}
.whiteFont {
  color: white;
}
.blueFont {
  color: #4aa4e0;
}
.yellowFont {
  color: #e1c12e;
}
.brownFont {
  color: #8e4a43;
}
.begeFont {
  color: #efac5d;
}
#deepBlueFont {
  color: #212b41;
}
.salmonFont {
  color: #e36f62;
}
.deepGreyFont {
  color: #666666;
}
.lightGreyFont {
  color: #999999;
}
.redFont {
  color: #e33f29;
}
.greenFont {
  color: #55d683;
}

#divMenu {
  display: none;
}

#menu {
  display: none;
}

.headerLink {
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

.headerLink::after {
  content: "";
  height: 1px;
  width: 0%;
  background-color: #4aa4e0;
  display: block;
  transition: 0.3s ease-in;
}

#headerDiv {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

#logoAnchor {
  text-decoration: none;
}

a:hover {
  color: black;
}

.headerLink:hover::after {
  color: black;
  width: 100%;
  transition: 0.3s;
  width: 100%;
}

.font {
  font-family: Coolvetica;
  font-weight: 500;
}

.headerFont {
  font-size: 20px;
}

#logo {
  margin-left: 40px;
  color: #999999;
}

.menuButtons li {
  list-style-type: none;
  margin-right: 60px;
}

.sectionHeight {
  height: 90vh;
  display: flex;
  justify-content: space-between;
}

.text {
  font-size: 38px;
  margin-left: 10px;
  color: #999999;
}

.imageDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentDiv,
.titleDiv {
  margin: 40px;
  margin-left: 90px;
  margin-top: 100px;
}

.skillsDiv {
  display: flex;
}

.softDiv {
  margin-left: 60px;
}

.hardDiv {
  margin-left: 20px;
}

.ilust {
  height: 406px;
}

.ilust:first-of-type {
  margin-right: 80px;
  height: 65%;
}

.title {
  font-size: 60px;
}

.subtitle {
  font-size: 45px;
}

.subfont {
  font-size: 30px;
  margin-left: 30px;
  margin-top: 10px;
}

.bar {
  width: 100%;
  height: 11vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#bar {
  border-bottom: solid 1px #ebebeb;
}

footer.bar {
  justify-content: space-around;
  border-top: solid 1px grey;
  border-bottom: none;
}

.button {
  padding: 8px 20px 8px 20px;
  border: 2px solid black;
  margin: 40px 0 0 20px;
  background-color: transparent;
  border-radius: 25px;
  font-size: 20px;
  color: black;
  font-family: Coolvetica;
  transition: 0.5s;
}

.button:hover {
  cursor: pointer;
}

#foguete {
  animation: rocket 1.5s infinite alternate ease-in-out;
}

.contatosLi {
  margin-bottom: 6px;
}

.sectionHeight:last-of-type {
  height: 82vh;
}

#topAnchor {
  font-size: 25px;
}

.nlMode {
  margin: 0;
  padding: 5px;
  font-size: 15px;
}

#nlMode {
  transition: 0s;
  border: none;
  background-color: black;
  transition: 0.3s;
}

#nlMode:hover {
  font-size: 18px;
  transition: 0.3s;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #4aa4e0;
}

@keyframes rocket {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(20px);
  }
}

#menu {
  display: none;
}

.menu {
  display: inline-block;
  cursor: pointer;
  padding-right: 20px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-8px, 8px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-5px, -5px);
}

#projects {
  flex-direction: column;
}

#projectsDiv {
  display: flex;
  height: auto;
  justify-content: space-around;
}

.project {
  height: 60vh;
}

.project:hover {
  cursor: pointer;
}

/* ====================================================================================================== */

@media (max-width: 900px) {
  #projectsDiv {
    flex-direction: column;
  }

  .project:first-of-type {
    margin-top: 40px;
  }

  .project {
    margin-bottom: 30px;
    height: 60vh;
    background-color: #212b41;
  }

  .ilust:first-of-type {
    margin: 30px 0 30px 0;
  }

  .text {
    font-size: 30px;
  }

  .subtitle {
    font-size: 35px;
  }

  .subfont {
    font-size: 24px;
  }

  .title {
    font-size: 50px;
  }

  .sectionHeight {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .skillsDiv {
    justify-content: space-around;
    width: 70%;
    flex-direction: column;
  }

  .headerLink {
    display: none;
  }

  .text {
    font-size: 30px;
    margin-left: 10px;
    color: #999999;
  }

  .contentDiv {
    width: 70%;
    margin: 40px 40px 0 40px;
  }

  .skillsDiv {
    display: flex;
  }

  .softDiv {
    margin-left: 0px;
    padding-top: 60px;
  }

  .hardDiv {
    margin-left: 0px;
  }

  .ilust {
    height: auto;
    width: 50vw;
  }

  .title {
    font-size: 40px;
  }

  .subtitle {
    font-size: 45px;
  }

  .subfont {
    font-size: 30px;
    margin-left: 30px;
    margin-top: 10px;
  }

  .bar {
    width: 100%;
    height: 11vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #ebebeb;
  }

  #foguete {
    animation: rocket 1.5s infinite alternate ease-in-out;
  }

  .contatosLi {
    margin-bottom: 6px;
  }

  li.contatosLi span {
    font-size: 18px;
  }

  .sectionHeight:last-of-type {
    height: 100%;
  }

  #linksDiv {
    display: none;
  }

  #menu {
    display: block;
  }

  li.contatosLi {
    padding-top: 25px;
  }

  #topAnchor {
    display: block;
  }

  footer p {
    font-size: 10px;
  }
}

@media (max-width: 1075px) {
  section {
    overflow: hidden;
  }

  #puzzle {
    display: none;
  }

  .ilust:first-of-type {
    margin: 30px 0 30px 0;
  }

  #skills {
    flex-direction: column;
  }

  .sectionHeight {
    height: auto;
  }

  .contentDiv .font {
    font-size: 30px;
  }
}
